/* Kanban Board */
[data-theme="dark"] {
  --kanban-column-gray: var(--gray-800);
  --kanban-column-red: #6b151580;
  --kanban-column-blue: #00488080;
  --kanban-column-light-blue: #0070cc80;
  --kanban-column-yellow: #733f1280;
  --kanban-column-purple: #40186380;
  --kanban-column-pink: #570f3e80;
  --kanban-column-green: #173b2c80;
  --kanban-column-orange: #6b271180;
  --kanban-column-cyan: #16475980;
}

[data-theme="light"] {
  --kanban-column-gray: var(--gray-200);
  --kanban-column-red: var(--red-200);
  --kanban-column-blue: var(--blue-200);
  --kanban-column-light-blue: var(--blue-100);
  --kanban-column-yellow: var(--yellow-100);
  --kanban-column-purple: var(--purple-200);
  --kanban-column-pink: var(--pink-200);
  --kanban-column-green: var(--green-200);
  --kanban-column-orange: var(--orange-200);
  --kanban-column-cyan: var(--cyan-100);
}

#kanbanapp {
  height: 80vh;
}

#kanbanapp .clickdrag-active {
  cursor: grabbing;
}

#kanbanapp .kanban {
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  overflow-x: auto;
  scrollbar-width: thin;
  height: 80vh;
  padding-bottom: 5px;
}

#kanbanapp .kanban-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 250px;
  max-height: calc(
    100vh - var(--navbar-height) - var(--page-bottom-margin)
  ) !important;
  border-radius: 12px;
  min-height: 70vh;
}

#kanbanapp .kanban-column-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#kanbanapp .column-dropdown {
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  transform: translate3d(0px, 16px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}

#kanbanapp .column-title {
  color: inherit;
  font-size: medium;
  font-weight: 600;
  text-align: start;
}

#kanbanapp .header-item {
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}

#kanbanapp .indicator-pill {
  margin-right: 6px;
}

#kanbanapp .kanban-card {
  display: flex;
  position: relative;
  font-size: var(--text-md);
  gap: 2px;
  flex-direction: column;
  padding: 8px 12px 8px 12px;
  margin-bottom: 8px;
  background: var(--card-bg);
  color: var(--text-muted);
  border: 1px solid var(--border-color);
  border-radius: 8px !important;
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: grab;
  user-select: none;
  overflow-x: clip;
}

#kanbanapp .chosen-card {
  filter: contrast(0.9);
}

#kanbanapp .ghost-card {
  filter: contrast(1);
}

#kanbanapp .chosen-card .drag {
  opacity: 0.5;
}

#kanbanapp .ghost-card .drag {
  opacity: 1;
}

#kanbanapp .kanban-card-meta {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 12px 0 5px;
}

#kanbanapp .card-title {
  font-weight: 600;
  text-align: start;
  margin-bottom: 7px;
}

#kanbanapp .addcard {
  color: inherit;
  font-size: xx-large;
  font-weight: 200;
  display: inline-flex;
  align-items: center;
}

#kanbanapp .header-item:hover {
  background-color: #5b5f611c;
}

#kanbanapp .loadbtn {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
